<div class="ejercicios-container">
    <div class="title">Ejercicios de PrimeNg</div>
    <div class="ejercicios-content">
        <button class="btn ej1" data-ej="1">Ejercicio 1</button>
        <button class="btn ej2" data-ej="2">Ejercicio 2</button>
        <button class="btn ej3" data-ej="3">Ejercicio 3</button>
    </div>
    <div class="ejercicios-body">
        <app-ejercicio1 class="ejercicio"></app-ejercicio1>
        <app-ejercicio2 class="ejercicio"></app-ejercicio2>
    </div>
</div>
