<div class="card">
    <div class="card-body">
        <h2>Título</h2>
        <p class="subtitle">Subtítulo</p>
        <p class="content">Contenido</p>
        <p class="f">Pie de página</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2>Procesos de intergración</h2>
        <p class="content">
            En la medida de lo posible, el informe definible por el centro vuelve a invertir todo lo obtenido y mucho más.
            En este tipo de inversiones se pueden dar ganancias muy elevadas con tasas de retorno superiores al 1000% en algunos casos.
            Del mismo modo, los límites de emisiones producen basuras marinas.
            En todo caso, los escépticos y negacionistas del cambio climático aprovechan el agua de lluvia para consumo humano.
            El segundo trimestre reduce la cantidad de dióxido de carbono emitido a la atmósfera
        </p>
        <p class="f">Texto generado con <a href="https://humoipsum.com/">Hump Ipsum</a></p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <img class="pictureHeader" src="assets/gato.jpg" alt="gato">
    </div>
    <div class="card-body">
        <h2>Gato</h2>
        <p class="subtitle">Gato gris con mirada incrédula</p>
        <p class="content">
            El deshielo de los polos adecuará y modificará las medidas dispuestas para permitir la mejora de los procesos de integración escolar,
            de identidad personal, de relación social y de mantenimiento de la motivación y del esfuerzo necesarios para alcanzar con éxito el proceso de aprendizaje.
            Los plazos para reducir plástico introducen un nuevo impuesto sobre los envases de plástico no reutilizables.
            La aceleradora podrá solicitar la resolución de su contrato sin coste adicional alguno.
            Los jóvenes de la generación climática, en este contexto, hace un uso eficiente de los recursos,
            con una apuesta estratégica decidida del conjunto de las administraciones públicas,
            así como la implicación y compromiso del conjunto de los agentes económicos y sociales.
        </p>
        <div class="choise">
            <button class="btn save">Guardar</button>
            <button class="btn cancel">Cancelar</button>
        </div>
    </div>
</div>


<div class="card green">
    <div class="card-body">
        <h2>Tarjeta con color de fondo</h2>
        <p class="content">
            Los inversores establecerán las estrategias organizativas necesarias y elaborarán sus programaciones didácticas
            contemplando tanto su implementación en el marco de docencia presencial como de docencia no presencial.
            El CTO se focaliza en producto y la entrada del fondo de inversión hizo que se centrase más en reporting,
            en expansión y perdiese de vista el producto, que es la esencia del negocio.
        </p>
        <p class="f">Texto generado con <a href="https://humoipsum.com/">Hump Ipsum</a></p>
    </div>
</div>

<div class="card blue">
    <div class="card-body">
        <h2>Tarjeta con color de fondo</h2>
        <p class="content">
            Los inversores establecerán las estrategias organizativas necesarias y elaborarán sus programaciones didácticas
            contemplando tanto su implementación en el marco de docencia presencial como de docencia no presencial.
            El CTO se focaliza en producto y la entrada del fondo de inversión hizo que se centrase más en reporting,
            en expansión y perdiese de vista el producto, que es la esencia del negocio.
        </p>
        <p class="f">Texto generado con <a href="https://humoipsum.com/">Hump Ipsum</a></p>
    </div>
</div>
